@using System.Globalization
@using by.Reba.Application.Models.Account
@model UserDetailsVM

@{
    ViewData["Title"] = Model.Nickname;
    if (Model.IsAdmin)
    {
        Layout = "_AdminLayout";
    }
}

<div class="d-flex flex-column gap-3">
    <div class="d-flex flex-column flex-md-row justify-content-between gap-3">
        <div class="d-flex flex-row gap-3 gap-xl-5 align-items-center circle-image">
            <img src="@Model.AvatarUrl" alt="avatar" class="circle-avatar"/>
            <div class="d-flex flex-column align-items-start">
                <h2 class="">@Model.Nickname</h2>
                <h6 class="">@Model.RoleName</h6>
            </div>
        </div>

        <div class="d-flex flex-column flex-lg-row align-items-start align-items-md-end align-items-lg-center justify-content-around flex-grow-1 gap-3">
            <div class="d-flex flex-column align-items-start align-items-md-end align-items-lg-center gap-1 gap-md-3 mt-3 m-md-0">
                <h6 class="m-0 fw-bold">Комментарии</h6>
                <small class="m-0">@Model.CommentsCount</small>
            </div>
            <div class="d-flex flex-column align-items-start align-items-md-end align-items-lg-center gap-1 gap-md-3">
                <h6 class="m-0 fw-bold">Дата регистрации</h6>
                <small class="m-0">@Model.RegistrationDate.ToString("dd MMMM yyyy", new CultureInfo("ru-RU"))</small>
            </div>
            <div class="d-flex flex-column align-items-start align-items-md-end align-items-lg-center gap-1 gap-md-3">
                <h6 class="m-0 fw-bold">Почта</h6>
                <small class="m-0">@Model.Email</small>
            </div>
            @if (Model.IsSelf)
            {
                <div class="d-flex flex-column align-items-start align-items-md-end align-items-lg-center gap-1 gap-md-3">
                    <h6 class="m-0 fw-bold">Предпочитаемая позитивность</h6>
                    <small class="m-0">@Model.MinPositivityRatingName</small>
                </div>
            }
        </div>
    </div> 

    <div class="d-flex flex-column flex-md-row gap-3">
        <div class="d-flex flex-column pe-1 justify-content-between justify-content-md-start">
            <h6 class="fw-bold text-center m-0 py-3">Любимые категории:</h6>
            <ul class="d-flex flex-row flex-md-column flex-wrap gap-3 gap-md-1 nav">
                @foreach (var category in Model.Categories)
                {
                    <li class="m-0">@category</li>
                }
            </ul>

        </div>
        <div class="d-flex flex-column flex-grow-1 px-2">
            @if (Model.IsSelf)
            {
                <div class="btn-group d-flex justify-content-center mx-sm-2">
                    <button id="btn-activity" type="submit" class="btn btn-success active">Активность</button>
                    <button id="btn-history" type="submit" class="btn btn-success">История</button>
                </div>  
            }
            else {
                <p class="bg-success text-light text-center mx-2 py-1">Активность</p>
            }

            <div id="user-activity">
                <div class="card card body bg-lightgrey mt-3 m-sm-3">
                    @if (Model.Comments.Any())
                    {
                        foreach (var comment in Model.Comments)
                        {
                            <partial name="_CommentShortSummaryPartial" model="comment"></partial>
                        }
                    }
                    else {
                        <p class="m-3">Комментарии отсутствуют</p>
                    }
                </div>
            </div>
            @if (Model.IsSelf)
            {
                <div id="user-history" class="d-none mt-3 m-sm-3">
                    @if (Model.History.Any())
                    {
                        <div class="table-responsive">
                            <table class="table table-hover align-middle text-center table-bordered">
                                <thead class="align-middle table-success">
                                    <tr>
                                        <th>Время</th>
                                        <th>Название</th>
                                    </tr>
                                </thead>
                                <tbody class="text-success">
                                    @foreach (var article in Model.History)
                                    {
                                        <tr>
                                            <td>@article.LastVisitTime.ToString("dd MMMM hh:mm", new CultureInfo("ru-RU"))</td>
                                            <td class="text-start">
                                                <a asp-controller="Article" asp-action="Details" asp-route-id="@article.ArticleId">@article.ArticleTitle</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p>История отсутствует</p>
                    }
                </div>
            }
        </div>
    </div>
</div>



