@using by.Reba.Application.Models.PositivityRating

@model AllPositivitiesVM

<ul class="list-group mb-3">
    @foreach (var rating in Model.Positivities)
    {
        <li class="list-group-item bg-lightgrey">
            <input class="form-check-input" type="radio" name="@Model.MinPositivityName" checked="@rating.Selected" value="@rating.Value" id="@($"radio{rating.Value}")">
            <label for="@($"radio{rating.Value}")" class="form-check-label ms-3">@rating.Text</label>
        </li>
    }
</ul>
