@using by.Reba.Application.Models.Comment
@using by.Reba.Core.DataTransferObjects.Comment
@model CommentDTO

<div class="card m-3">
    <div class="card-header">
        <div class="d-flex">
            <div class="p-2">@Model.Author.Nickname </div>
            <div class="p-2">@Model.CreationTime.ToString("dd MMMM hh:mm tt")</div>
            <div class="p-2">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#@($"c{Model.Id}")" aria-expanded="true">Ответить</button>
            </div>
            <div class="p-2 ms-auto">
                <a asp-controller="Comment" asp-action="Rate" asp-route-commentId="@Model.Id" asp-route-islike="true" asp-route-articleid="@Model.ArticleId">
                    <img src="~/like.svg" alt="like" height="15px" width="15px">
                </a>
                <span class="ps-1">@Model.Assessment</span>
                <a asp-controller="Comment" asp-action="Rate" asp-route-commentId="@Model.Id" asp-route-islike="false" asp-route-articleid="@Model.ArticleId">
                    <img src="~/dislike.svg" alt="like" height="15px" width="15px">
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p>@Model.Content</p>
    </div>
    <div class="collapse" id="@($"c{Model.Id}")">
        <partial name="_WriteCommentPartial", model="@(new CreateCommentVM() {ArticleId = Model.ArticleId ,ParentCommentId = Model.Id})"></partial>
    </div>
</div>