@using by.Reba.Application.Models.Article
@model ArticleFilterDataVM

<nav class="navbar navbar-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Фильтры</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <h5 class="text-center">Категории:</h5>
        @foreach (var category in Model.Categories)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="@nameof(Model.Categories)" checked="@Model.CurrentFilter.Categories.Contains(category.Id)" value="@category.Id">
                <label class="form-check-label">
                    @category.Title
                </label>
            </div>
        }
        <hr />
        <h5 class="text-center">Источники:</h5>
        @foreach (var source in Model.Sources)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="@nameof(Model.Sources)" checked="@Model.CurrentFilter.Sources.Contains(source.Id)" value="@source.Id">
                <label class="form-check-label">
                    @source.Name
                </label>
            </div>
        }
        <hr />
        <h5 class="text-center">Позитивность:</h5>
        @foreach (var rating in Model.PositivityRatings)    
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" name="MinPositivityRating" checked="@Model.CurrentFilter.MinPositivityRating.Equals(rating.Id)" value="@rating.Id">
                <label class="form-check-label">
                    @rating.Title
                </label>
            </div>
        }
        <hr />
        <h6>с</h6>
        <input type="datetime-local" name="@nameof(Model.CurrentFilter.From)" value="@Model.CurrentFilter.From.ToString("yyyy-MM-ddTHH:mm")" />
        <hr />
        <h6>по</h6>
        <input type="datetime-local" name="@nameof(Model.CurrentFilter.To)" value="@Model.CurrentFilter.To.ToString("yyyy-MM-ddTHH:mm")" />
        <hr />
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Найти</button>
        </div>
    </div>
</div>