@using by.Reba.Application.Models.Article
@using by.Reba.Application.Models.Comment

@model ArticleDetailsVM

@{
    ViewData["Title"] = Model.Title;

    if (Model.isAdmin)
    {
        Layout = "_AdminLayout";
    }
}

<h2 class="text-center text-success">@Model.Title</h2>
<div class="text-center">
    <img src="@Model.PosterUrl" alt="poster" class="img-fluid" />
</div>

<p>@Model.Text</p>


@if (Model.isAuthenticated)
{
    <div class="text-success">
    <a asp-controller="Article" asp-action="Rate" asp-route-Id="@Model.Id" asp-route-islike="true" >
        <img src="~/like.svg" alt="like" height="15px" width="15px">
    </a>
    <span class="ps-1">@Model.Assessment</span>
    <a asp-controller="Article" asp-action="Rate" asp-route-Id="@Model.Id" asp-route-islike="false">
        <img src="~/dislike.svg" alt="like" height="15px" width="15px">
    </a>
</div>
}

<div class="card card body bg-lightgrey m-0 m-sm-2">
    @if (Model.isAuthenticated)
    {
        <h3 class="text-success mx-3 mt-3">Комментарии:</h3>
        <partial name="_WriteCommentPartial" , model="@(new CreateCommentVM() {ArticleId = Model.Id})"></partial>
        <display-comments asp-for="@Model.Comments"></display-comments>
    }
    else {
        <div class="d-inline-flex">
            <h6 class="p-3">Комментарии могут просматривать только авторизованные пользователи.
                <a asp-controller="Account" asp-action="Login" class="text-primary text-decoration-underline ps-1">Войти</a>
            </h6>
        </div>
    }
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation//dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


