@using by.Reba.Application.Models.Article
@using by.Reba.Application.Models.Comment

@model ArticleDetailsVM

@{
    ViewData["Title"] = Model.Title;

    if (Model.isAdmin)
    {
        Layout = "_AdminLayout";
    }
}

<h2 class="text-center">@Model.Title</h2>
<div class="text-center">
    <img src="@Model.PosterUrl" alt="poster" class="img-fluid" />
</div>

<div class="float-end">
    <img src="~/like.svg" alt="like" height="15px" width="15px">
    <span class="ps-1">@Model.Assessment</span>
    <img src="~/dislike.svg" alt="like" height="15px" width="15px">
</div>

<p>@Model.Text</p>


<div class="card card body">
    @if (Model.isAuthenticated)
    {
        <h2 class="ms-3 mt-3">Комментарии:</h2>
        <partial name="_WriteCommentPartial" , model="@(new CreateCommentVM() {ArticleId = Model.Id})"></partial>
        <display-comments asp-for="@Model.Comments"></display-comments>
    }
    else {
        <div class="d-inline-flex">
            <h6 class="p-3">Комментарии могут просматривать только авторизованные пользователи.
                <a asp-controller="Account" asp-action="Login" class="ps-1">Войти</a>
            </h6>
        </div>
    }
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation//dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


