@using by.Reba.Application.Models.Article
@using by.Reba.Core.SortTypes
@model ArticlesGridVM

@{
    ViewData["Title"] = "Новости";
    Layout = "_AdminLayout";
}

<form asp-controller="Article" asp-action="Grid" method="get" id="main-form">
    <ul class="nav nav-pills nav-fill">
        <li>     
            <partial name="_FilterPartial" model="@Model.FilterData"></partial>
        </li>
        <li class="nav-item d-flex">
            <input type="search" placeholder="Поиск" name="searchString" class="form-control me-2" value="@Model.SearchString"/>
            <button type="submit" class="btn btn-outline-success">Поиск</button>
        </li>
        <li class="nav-item">
            <a asp-controller="Article" asp-action="Create" class="btn btn-warning">
                Создать новость
            </a>
        </li>
    </ul>

    <table class="table table-hover align-middle text-center table-bordered">
        <thead class="align-middle">
            <tr class="table-success">
                <th>Название</th>
                <th>Превью</th>
                <th class="@(Model.sortOrder.Equals(ArticleSort.PublicationDate) ? "table-warning" : "table-success")">
                    <button type="submit" name="sortOrder" value="@ArticleSort.PublicationDate" class="btn fw-bold">Дата публикации</button>
                </th>
                <th>Категория</th>
                <th>Источник</th>
                <th class="@(Model.sortOrder.Equals(ArticleSort.Positivity) ? "table-warning" : "table-success")">
                    <button type="submit" name="sortOrder" value="@ArticleSort.Positivity" class="btn fw-bold">Позитивность</button>
                </th>
                <th class="@(Model.sortOrder.Equals(ArticleSort.Likes) ? "table-warning" : "table-success")">
                    <button type="submit" name="sortOrder" value="@ArticleSort.Likes" class="btn fw-bold">Оценка пользователей</button>
                </th>
                <th class="@(Model.sortOrder.Equals(ArticleSort.Comments) ? "table-warning" : "table-success")">
                    <button type="submit" name="sortOrder" value="@ArticleSort.Comments" class="btn fw-bold">Кол-во комментариев</button>
                </th>
                <th>Управление</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in Model.Articles)
            {
                <tr>
                    <td class="text-start">
                        <a asp-controller="Article" asp-action="Details" asp-route-id="@article.Id">
                            @article.Title
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Article" asp-action="Details" asp-route-id="@article.Id">
                            <img src="@article.PosterUrl" alt="article" class="img-fluid">
                        </a>
                    </td>
                    <td>@article.PublicationDate.ToString("f")</td>
                    <td>@article.CategoryName</td>
                    <td>@article.SourceName</td>
                    <td>@article.RatingName</td>
                    <td>@article.Assessment</td>
                    <td>@article.CommentsCount</td>
                    <td>
                        <div class="vstack gap-2">
                            <a asp-controller="Article" asp-action="Edit" asp-route-id="@article.Id" class="btn btn-warning">Редактировать</a>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@($"#ent{article.Id}")">Удалить</button>
                            <partial name="_DeleteEntityPartial" model="@(new DeleteEntityVM() {Id = article.Id, EntityName = "Новость", Title = article.Title})"></partial>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>