@using System.Globalization
@using by.Reba.Application.Models.Article
@using by.Reba.Core.SortTypes
@model HomePageVM

@{
    ViewData["Title"] = "Новости";
    Layout = "_AdminLayout";
}

<form asp-controller="Article" asp-action="Grid" method="get" id="main-form">

    <div class="d-flex justify-content-between gap-sm-5">
        <div class="d-flex flex-grow-1 py-3 px-3">
            <input type="search" placeholder="Поиск" name="searchString" class="form-control me-1 me-sm-3 border-success" value="@Model.SearchString" />
            <button type="submit" class="btn btn-success">Поиск</button>
        </div>

        <div class="py-3">
            <a asp-controller="Article" asp-action="Create" class="btn btn-warning">Создать новость</a>
        </div>
        <partial name="_FilterPartial" model="@Model.FilterData"></partial>
    </div>

    <div class="table-responsive">
        <table class="table table-hover align-middle text-center table-bordered">
            <thead class="align-middle">
                <tr class="table-success">
                    <th>Название</th>
                    <th>Превью</th>
                    <th class="@(Model.SortOrder.Equals(ArticleSort.PublicationDate) ? "bg-warning" : "table-success")">
                        <button type="submit" name="sortOrder" value="@ArticleSort.PublicationDate" class="btn fw-bold">Дата публикации</button>
                    </th>
                    <th>Категория</th>
                    <th>Источник</th>
                    <th class="@(Model.SortOrder.Equals(ArticleSort.Positivity) ? "bg-warning" : "table-success")">
                        <button type="submit" name="sortOrder" value="@ArticleSort.Positivity" class="btn fw-bold">Позитивность</button>
                    </th>
                    <th class="@(Model.SortOrder.Equals(ArticleSort.Likes) ? "bg-warning" : "table-success")">
                        <button type="submit" name="sortOrder" value="@ArticleSort.Likes" class="btn fw-bold">Оценка пользователей</button>
                    </th>
                    <th class="@(Model.SortOrder.Equals(ArticleSort.Comments) ? "bg-warning" : "table-success")">
                        <button type="submit" name="sortOrder" value="@ArticleSort.Comments" class="btn fw-bold">Кол-во комментариев</button>
                    </th>
                    <th>Управление</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var article in Model.Articles)
                {
                    <tr>
                        <td class="text-start">
                            <a asp-controller="Article" asp-action="Details" asp-route-id="@article.Id">@article.Title</a>
                        </td>
                        <td>
                            <a asp-controller="Article" asp-action="Details" asp-route-id="@article.Id"><img src="@article.PosterUrl" alt="article" class="img-fluid col-5"></a>
                        </td>
                        <td>@article.PublicationDate.ToString("dd MMMM HH:mm", new CultureInfo("ru-RU"))</td>
                        <td>@article.CategoryName</td>
                        <td>@article.SourceName</td>
                        <td>@article.RatingName</td>
                        <td>@article.Assessment</td>
                        <td>@article.CommentsCount</td>
                        <td>
                            <div class="vstack gap-2">
                                <a asp-controller="Article" asp-action="Edit" asp-route-id="@article.Id" class="btn btn-warning">Редактировать</a>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@($"#ent{article.Id}")">Удалить</button>
                                <partial name="_DeleteEntityPartial" model="@(new DeleteEntityVM() {Id = article.Id, EntityName = "новость", Title = article.Title, Endpoint=$"/Article/Delete?id={article.Id}"})"></partial>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <paginator page-model="@Model.PagingInfo" output-class="pagination justify-content-center mt-3" page-item-class="page-item"
               page-link-class="page-link" selected-class="bg-success bg-outline-success text-light" default-class="bg-lightgrey"></paginator>
</form>