@using by.Reba.Application.Helpers
@using by.Reba.Core.SortTypes
@model HomePageVM

@{
    ViewData["Title"] = "Reba.by";
    if (Model.IsAdmin)
    {
        Layout = "_AdminLayout";
    }
}
<form asp-controller="Article" asp-action="Index" method="get" id="main-form">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">     
            <partial name="Filter" model="@Model.FilterData"></partial>
        </li>
        <li class="nav-item d-flex">
            <input type="search" placeholder="Поиск" name="searchString" class="form-control me-2" value="@Model.SearchString"/>
            <button type="submit" class="btn btn-outline-success">Поиск</button>
        </li>
    </ul>
<nav class="mt-4">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <h3><button type="submit" class="text-black" name="sortType" value="@ArticleSort.PublicationDate">Новое</button></h3>
        </li>
        <li class="nav-item">
                <h3><button type="submit" class="text-black" name="sortType" value="@ArticleSort.Likes">Самое понравившееся</button></h3>
        </li>
        <li class="nav-item">
                <h3><button type="submit" class="text-black" name="sortType" value="@ArticleSort.Comments">Самое обсуждаемое</button></h3>
        </li>
        <li class="nav-item">
            <h3><button type="submit" class="text-black" name="sortType" value="@ArticleSort.Positivity">Самое позитивное</button></h3>
        </li>
    </ul>
</nav>

<br />
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var article in Model.Articles) {
        <partial name="Preview" model="@article"></partial>
    }
</div>

<paginator page-model="@Model.PagingInfo" output-class="pagination" page-item-class="page-item" page-link-class="page-link" selected-class="active"></paginator>

</form>

