@using by.Reba.Application.Helpers
@using by.Reba.Core.SortTypes
@model HomePageVM

@{
    ViewData["Title"] = "Reba.by";
    if (Model.IsAdmin)
    {
        Layout = "_AdminLayout";
    }
}
<form asp-controller="Article" asp-action="Index" method="get" id="main-form">
    <div class="d-flex justify-content-between gap-sm-5">
        <div class="d-flex flex-grow-1 py-3 px-3">
            <input type="search" placeholder="Поиск" name="searchString" class="form-control me-1 me-sm-3 border-success" value="@Model.SearchString"/>
            <button type="submit" class="btn btn-success">Поиск</button>
        </div>

        <partial name="_FilterPartial" model="@Model.FilterData"></partial>
    </div>

    <div class="btn-group d-flex justify-content-center flex-wrap flex-sm-nowrap m-1 m-sm-3">
        <button type="submit" class="btn btn-success rounded-0 @(Model.SortOrder.Equals(ArticleSort.PublicationDate) ? "active" : "")" name="sortOrder" value="@ArticleSort.PublicationDate">Новое</button>
        <button type="submit" class="btn btn-success rounded-0 @(Model.SortOrder.Equals(ArticleSort.Likes) ? "active" : "")" name="sortOrder" value="@ArticleSort.Likes">Самое понравившееся</button>
        <button type="submit" class="btn btn-success rounded-0 @(Model.SortOrder.Equals(ArticleSort.Comments) ? "active" : "")" name="sortOrder" value="@ArticleSort.Comments">Самое обсуждаемое</button>
        <button type="submit" class="btn btn-success rounded-0 @(Model.SortOrder.Equals(ArticleSort.Positivity) ? "active" : "")" name="sortOrder" value="@ArticleSort.Positivity">Самое позитивное</button>
    </div>

@if (Model.Articles.Any())
    {
        <div class="row row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-1 g-sm-3 g-md-4">
            @foreach (var article in Model.Articles)
            {
                <partial name="_PreviewPartial" model="@article"></partial>
            }
        </div>

        <paginator page-model="@Model.PagingInfo" output-class="pagination justify-content-center mt-3" page-item-class="page-item"
               page-link-class="page-link" selected-class="bg-success bg-outline-success text-light" default-class="bg-lightgrey"></paginator>
    }
</form>

