@using by.Reba.AdminPanel.Models.Article
@model ArticlesListVM

@{
    ViewData["Title"] = "Reba.by";
}


<div class="row">
    <div class="col-3">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filter" aria-expanded="false" aria-controls="collapseExample">
            Button with data-bs-target
        </button>

        <div class="collapse" id="filter">
            <div class="card card-body">
                Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
        </div>
    </div>

    <div class="col-3">
        <a asp-controller="Article" asp-action="Create" class="btn btn-primary">
            Create
        </a>
    </div>
</div>


<div class="row row-cols-1 row-cols-md-5 g-4 p-3">
    @foreach (var item in Model.Articles) {
        <div class="col">
            <a asp-controller="Article" asp-action="Details" class="text-decoration-none text-black">
                <div class="card h-100">
                    <img src="@item.PosterUrl" alt="article" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            @item.PublicationDate.ToString("yyyy-MM-dd")
                            <span class="float-end">
                                <img src="~/like.png" alt="like" height="15px" width="15px">
                                <span class="ps-1">@item.Assessment</span>
                                <span class="ps-1"><img src="~/comment.png" alt="comment" height="15px" width="15px"></span>
                                <span class="ps-1">@item.CommentsCount</span>                              
                            </span>
                        </small>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
